.slide-btn:hover .left-arm:after {
  transform: rotate(-10deg);
}
.slide-btn:hover .right-arm:after {
  transform: rotate(10deg);
}

.left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 2px;
  width: 20px;
  transform: rotate(45deg);
}
.top-left-arm {
  transform: rotate(-45deg) !important;
}
.left-arm:after {
  content: "";
  width: 20px;
  height: 2px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: right center;
  z-index: -1;
}
.right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 15px;
  width: 20px;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.top-right-arm {
  transform: rotate(45deg) !important;
}
.right-arm:after {
  content: "";
  width: 20px;
  height: 2px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: left center;
  z-index: -1;
}

.hejx {
  clip-path: path(
    "M38,2 L82,2 A12,12 0 0,1 94,10 L112,44 A12,12 0 0,1 112,56 L94,90 A12,12 0 0,1 82,98 L38,98 A12,12 0 0,1 26,90 L8,56 A12,12 0 0,1 8,44 L26,10 A12,12 0 0,1 38,2"
  );
  transform: scale(3.5); /* Scale the path */
  /* transform-origin: -230% -30%; */
}

.hex {
  width: 600px;
  height: 600px;
  clip-path: path(
    "M76,4 L164,4 A24,24 0 0,1 188,20 L224,88 A24,24 0 0,1 224,112 L188,180 A24,24 0 0,1 164,196 L76,196 A24,24 0 0,1 52,180 L16,112 A24,24 0 0,1 16,88 L52,20 A24,24 0 0,1 76,4"
  );
  transform: scale(1); /* Scale the path */
  transform-origin: -20% -7%;
}
