/* down Button */
.slide-btn {
  height: 40px;
  width: 40px;
  display: block;
  border: 1px solid rgb(99 102 241);
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}
.slide-main {
  left: 0;
  top: -100%;
  width: 103%;
  height: 100%;
  background: rgb(99 102 241);
  position: absolute;
  display: block;
  z-index: 0;
}
.dark .slide-main {
  background: rgb(67 56 202);
}
.left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 3px;
  width: 20px;
  display: block;
  transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  -ms-transition: -ms-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.top-left-arm {
  transform: rotate(-45deg) !important;
}
.left-arm:after {
  content: "";
  background-color: rgb(99 102 241);
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: right center;
  z-index: -1;
}
.right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 20px;
  display: block;
  transform: rotate(-45deg);
  border-radius: 2px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  -ms-transition: -ms-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.top-right-arm {
  transform: rotate(45deg) !important;
}
.right-arm:after {
  content: "";
  background-color: rgb(99 102 241);
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: left center;
  z-index: -1;
}
.slide-btn:hover {
  transition: all 0.1s;
}
.slide-btn:hover .left-arm:after {
  transform: rotate(-10deg);
}
.slide-btn:hover .right-arm:after {
  transform: rotate(10deg);
}
.slide-btn:hover .slide-main {
  transition: all 0.4s ease-in-out;
  transform: translateY(200%);
}

/* down Button */
